backports.functools-lru-cache==1.5
cycler==0.10.0
future==0.17.1
hmmlearn==0.2.2
joblib==0.13.2
kiwisolver==1.1.0
matplotlib==2.2.4
nose==1.3.7
numpy==1.16.0
pandas==0.24.2
pybasicbayes==0.2.2
pyhsmm==0.1.7
pyparsing==2.4.2
git+https://github.com/RyanBalfanz/PyPDS.git@master#egg=PyPDS
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.3
scikit-learn==0.20.4
scipy==1.2.2
simanneal==0.5.0
six==1.12.0
sklearn==0.0
subprocess32==3.5.4
h5py==2.10.0
git+https://github.com/ameya98/saxpy.git@master#egg=saxpy
git+https://github.com/hoxo-m/densratio_py.git@master#egg=densratio
git+https://github.com/ameya98/matrixprofile-ts.git@master#egg=matrixprofile-ts
